{% extends "base.html" %}

{% block title %}Clubes e Campeonatos{% endblock %}

{% block content %}
<div class="list-container">
    <h2 class="title">Clubes e Campeonatos</h2>
    <table class="club-championships-table">
        <tr>
            <th>Clube</th>
            <th>Campeonatos</th>
        </tr>
        {% for clube in clubes %}
        <tr>
            <td class="club-name">{{ clube.nome }}</td>
            <td>
                <ul class="championship-list">
                    {% for campeonato in clube.campeonatos.all %}
                    <li class="championship-item">
                        <span class="item championship-name" onclick="toggleDetails('{{ campeonato.id }}')">
                            {{ campeonato.nome }}
                        </span>
                        <div class="championship-details" id="details-{{ campeonato.id }}" style="display: none;">
                            <span class="item"><strong>Nome:</strong> {{ campeonato.nome }}</span><br>
                            <span class="item"><strong>Data de Início:</strong> {{ campeonato.dt_inicio|date:"d/m/Y" }}</span><br>
                            <span class="item"><strong>Data de Término:</strong> {{ campeonato.dt_termino|date:"d/m/Y" }}</span><br>
                            <a href="{% url 'campeonato_update' campeonato.id %}" class="option">Editar</a>
                            <a href="{% url 'campeonato_delete' campeonato.id %}" class="option">Deletar</a><br>
                            <button class="close-button" onclick="toggleDetails('{{ campeonato.id }}')">Fechar</button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhum clube encontrado.</td>
        </tr>
        {% endfor %}
    </table>

    <div class="bottom-container">
        <a href="{% url 'consulta_menu' %}" class="list-button">Voltar</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function toggleDetails(id) {
            const details = document.getElementById("details-" + id);

            if (details) {
                const isVisible = details.style.display === "block";
                details.style.display = isVisible ? "none" : "block";
            } else {
                console.error("Element not found for ID:", id);
            }
        }

        window.toggleDetails = toggleDetails;
    });
</script>
{% endblock %}
