{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}Editar Médico{% else %}Adicionar Novo Médico{% endif %}
{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">
        {% if form.instance.pk %}Editar Médico{% else %}Adicionar Novo Médico{% endif %}
    </h2>
    <form method="post" class="player-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="nome" class="form-label">Nome</label>
            {{ form.nome }}
        </div>

        <div class="form-group">
            <label for="crm" class="form-label">CRM</label>
            {{ form.crm }}
        </div>

        <div class="form-group">
            <label for="especializacao" class="form-label">Especialização</label>
            {{ form.especializacao }}
        </div>

        <div class="form-group">
            <label for="dt_nascimento" class="form-label">Data de Nascimento</label>
            <input type="date" name="dt_nascimento" id="dt_nascimento" value="{{ form.dt_nascimento.value|date:'Y-m-d' }}">
        </div>

        <div class="form-group">
            <label for="salario" class="form-label">Salário</label>
            {{ form.salario }}
        </div>

        <div class="form-group">
            <label for="clube" class="form-label">Clube</label>
            {{ form.clube }}
        </div>

        <div class="form-actions">
            <button type="submit" class="button-menu">Salvar</button>
            <a href="{% url 'medico_list' %}" class="button-anchor">
                <button type="button" class="button-menu">Cancelar</button>
            </a>
        </div>
    </form>
</div>
{% endblock %}
