{% extends "base.html" %}

{% block title %}Lista de Treinadores{% endblock %}

{% block content %}
<div class="list-container">
    <h2 class="title">Lista de Treinadores</h2>
    <ul class="lista">
        {% for treinador in treinadores %}
        <li class="championship-item">
            <span class="item championship-name" onclick="toggleDetails('{{ treinador.cpf }}')">
                {{ treinador.nome }}
            </span>
            <div class="championship-details" id="details-{{ treinador.cpf }}" style="display: none;">
                <span class="item"><strong>Nome:</strong> {{ treinador.nome }}</span><br>
                <span class="item"><strong>CPF:</strong> {{ treinador.cpf }}</span><br>
                <span class="item"><strong>Categoria:</strong> {{ treinador.categoria }}</span><br>
                <span class="item"><strong>Tempo de Contrato:</strong> {{ treinador.tempo_contrato }}</span><br>
                <span class="item"><strong>Cargo:</strong> {{ treinador.cargo }}</span><br>
                <span class="item"><strong>Data de Nascimento:</strong> {{ treinador.dt_nascimento }}</span><br>
                <span class="item"><strong>Salário:</strong> {{ treinador.salario }}</span><br>
                <span class="item"><strong>Clube:</strong> {{ treinador.clube.nome }}</span><br>
                <a href="{% url 'treinador_update' treinador.cpf %}" class="option">Editar</a> |
                <a href="{% url 'treinador_delete' treinador.cpf %}" class="option">Deletar</a><br>
                <button class="close-button" onclick="toggleDetails('{{ treinador.cpf }}')">Fechar</button>
            </div>
        </li>
        {% empty %}
        <li>Nenhum treinador encontrado.</li>
        {% endfor %}
    </ul>
    <div class="bottom-container">
        <a href="{% url 'treinador_create' %}" class="list-button">Adicionar Novo Treinador</a>
        <a href="{% url 'treinador_menu' %}" class="list-button">Voltar</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function toggleDetails(cpf) {
            const details = document.getElementById("details-" + cpf);

            if (details) {
                const isVisible = details.style.display === "block";
                details.style.display = isVisible ? "none" : "block";
            } else {
                console.error("Elemento não encontrado para o CPF:", cpf);
            }
        }

        window.toggleDetails = toggleDetails;
    });
</script>
{% endblock %}
