{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}Editar Campeonato{% else %}Adicionar Novo Campeonato{% endif %}
{% endblock %}

{% block content %}
    <div class="form-container">
        <h2 class="form-title">
            {% if form.instance.pk %}Editar Campeonato{% else %}Adicionar Novo Campeonato{% endif %}
        </h2>
        <form method="post" class="championship-form">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="nome" class="form-label">Nome</label>
                {{ form.nome }}
            </div>

            <div class="form-group">
                <label for="modelo" class="form-label">Modelo</label>
                {{ form.modelo }}
            </div>

            <div class="form-group">
                <label for="premiacao" class="form-label">Premiação</label>
                {{ form.premiacao }}
            </div>

            <div class="form-group">
                <label for="dt_inicio" class="form-label">Data de Início</label>
                <input type="date" name="dt_inicio" id="dt_inicio" class="form-input" value="{{ form.dt_inicio.value|date:'Y-m-d' }}">
            </div>

            <div class="form-group">
                <label for="dt_termino" class="form-label">Data de Término</label>
                <input type="date" name="dt_termino" id="dt_termino" class="form-input" value="{{ form.dt_termino.value|date:'Y-m-d' }}">
            </div>

            <div class="form-actions">
                <button type="submit" class="button-menu">Salvar</button>
                <a href="{% url 'campeonato_list' %}" class="button-anchor">
                    <button type="button" class="button-menu">Cancelar</button>
                </a>
            </div>
        </form>
    </div>
{% endblock %}
